#input_form .inputs{
    border: 0.5px inset beige;
    padding-left:12px;
    padding-right:12px;
    margin: 22px 54px 0px 54px;
    display: flex;
    justify-content: center;
}

.inputs{
    display: inline-flex;
}

#input_form input{
    padding: 2px;
    margin: 5px;
}

#clik{
    float: right;
    margin-bottom: 10px;
    position: absolute;
    bottom: 15px;
    right: 3px;
}

.inputs_f, .inputs_df, .inputs_d2f {
    padding-left: 44px;
}
.inputs_d2f{
position: relative;
}

#title{
    text-align: center;
    margin: 18px;
}