.hidden {
    display: none;
}

#inter-goal {
    text-align: center;

}

.controls {
    text-align: center;
}

/*************************BUTTON************************/
button {
    margin: 0 auto;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
button:hover {
  background-color: #ffffff;
  color: #009ac9;
  border-color: #009ac9;
}
/********************************************************/
.btn {
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
  }
  input[type="radio"].toggle {
    display: none;
  }
  input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
  }
  input[type="radio"].toggle + label:hover {
    background: none;
    color: #1a1a1a;
  }
  input[type="radio"].toggle + label:after {
    background: #1a1a1a;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
  }
  input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
  }
  input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
  }
  input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
  }
  input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
  }
  input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
  }
  input[type="radio"].toggle:checked + label:after {
    left: 0;
  }

/**********************************************************/
  

#input_form .inputs{
    border: 0.5px inset beige;
    padding-left:12px;
    padding-right:12px;
    margin: 22px 54px 0px 54px;
    display: flex;
    justify-content: center;
}

.inputs{
    display: inline-flex;
}

#input_form input{
    padding: 2px;
    margin: 5px;
}

#clik{
    float: right;
    margin-bottom: 10px;
    position: absolute;
    bottom: 15px;
    right: 3px;
}

.inputs_f, .inputs_df, .inputs_d2f {
    padding-left: 44px;
}
.inputs_d2f{
position: relative;
}

#title{
    text-align: center;
    margin: 18px;
}

#without-input h2{
  margin: 22px 54px 0px 54px;
}

h2{
  margin: 22px 54px 0px 54px;
}